.vscode
__pycache__
.ipynb_checkpoints
data
flagged
build
dist
audiodiffusion.egg-info
lightning_logs
taming
checkpoints
Pipfile
Pipfile.lock
*.mp3
.history/
*.png
EDM_Mel/
EDM_Mel_ds/
_audiodiffusion/
logs/
wandb/
*.ckpt
*.wav